$color-background: #000102;
//$color-background-gradient: #082433;
$color-background-gradient: #212A33;
$color-node: #AEC5DB;
$color-trail: white;
$color-node-inner: #000102;
$color-node-trail: $color-trail;
$color-node-text: #AEC5DB;
$color-node-text-trail: $color-trail;
$color-node-text-hover: #FFFFFF;
$color-node-page: #B70A00;
$color-node-subcat: #AEC5DB;
$color-link: #AEC5DB;
$color-link-trail: $color-trail;

$main-font-family: 'Economica', sans-serif;

@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 400;
  src: local('Economica'), local('Economica-Regular'), url(fonts/Economica_400.woff) format('woff');
}

@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 700;
  src: local('Economica Bold'), local('Economica-Bold'), url(fonts/Economica_700.woff) format('woff');
}

body {
  background: $color-background;
//  padding: 20px;
//  font-family: 'Roboto Condensed', sans-serif;
  font-family: $main-font-family;
  height: 100%;
  width: 100%;

  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: radial-gradient(rgba($color-background-gradient, 0.5) 0%, rgba($color-background-gradient,0) 60%);

    //&__top {    background: linear-gradient(to bottom,  rgba($color-background-gradient, 0.5) 0%,rgba($color-background-gradient,0) 20%); }
    //&__right {  background: linear-gradient(to left,    rgba($color-background-gradient, 0.5) 0%,rgba($color-background-gradient,0) 20%); }
    //&__bottom { background: linear-gradient(to top,     rgba($color-background-gradient, 0.5) 0%,rgba($color-background-gradient,0) 20%); }
    //&__left {   background: linear-gradient(to right,   rgba($color-background-gradient, 0.5) 0%,rgba($color-background-gradient,0) 20%); }
  }

  .stats {
    margin: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 200px;
    background: rgba(255,255,255,0.2);
  }
}

svg {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 99%;
}
g {

  /*.anchorNode {
    text {
  //    fill: #555;
      font-size: 12px;
      fill: $color-node-text;

      &:hover {
        cursor: pointer;
      }
    }

    circle {
    }
  }*/

  &.entity {

    circle {

      cursor: pointer;

      &.node {
        fill: $color-node-inner;
        stroke: rgba($color-node,0.2);
        stroke-width: 4px;
      }

      &.root {
        fill: $color-node;
        stroke: $color-node;
        stroke-width: 4px;
      }

      &.transparent {
        fill: transparent !important;
        stroke: transparent !important;
      }

      /*&.path {
        fill: $color-node-inner;
        stroke: $color-node-path;
        stroke-width: 4px;
      }*/
    }

    text {
//      font: 10px 'Roboto Condensed', sans-serif;
      font: 13px $main-font-family;
      font-weight: 700;
      text-transform: uppercase;
      pointer-events: none;
      transition: all ease 100ms;
      letter-spacing: 3px;

      /*&.id {
        text-anchor: middle;
        font-weight: 700;
        //    fill: $color-node-text;
        fill: white;
      }*/

      &.title {
        fill: $color-node-text;
        //    font: 12px 'Roboto Condensed', sans-serif;
      }

      &.shadow {
        fill: $color-background;
      }
    }

    &:active {
      circle {
        stroke-width: 4px;
      }
    }

    /**
     * TRAILS: node, text
     */

    &.trail {

      /*circle, text {
        opacity: 0.2;
      }*/

      circle {
        &.node {
          fill: $color-node-inner;
          stroke: $color-node-trail;
          stroke-width: 4px;
          opacity: 0.1;
        }
      }

      text {

        opacity: 0.6;

        &.title {
          fill: $color-node-text-trail;
        }

        &.shadow {

        }
      }

      &:hover {
        circle, text {
          opacity: 0.8;
        }
      }
    }

    &:hover {

      circle {
        stroke: rgba($color-node, 0.6);
        stroke-width: 2px;
      }

      text {
//        font-size: 12px;
//        z-index: 10000;

        &.title {
          fill: $color-node-text-hover;
        }
      }
    }

    /**
     * PAGES: node, text
     */

    &.page {
      circle {
        &.node {
          stroke: rgba($color-node-page, 0.2);
        }
      }
      text {
        &.title {
          fill: $color-node-page;
        }
      }
    }

    /**
    * SUBCATEGORIES: node, text
    */

    &.subcat {
      circle {
        &.node {
          stroke: rgba($color-node-subcat, 0.2);
        }
      }
      text {

      }
    }
  }

  path {
    &.link {
      stroke: rgba($color-link, 0.1);
//      stroke-dashoffset: dotted;
//      stroke-width: 3px;
    }

    .hovered {
      stroke: rgba($color-link, 0.3);
    }

    &.path {
      stroke: $color-link-trail;
      stroke-width: 3px;

      opacity: 0.1;
//      stroke-width: 1px;
    }
  }
}

/**
 * FLEX BOX
 **/

.flex {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__item {
    max-width: 50%;

    &--top {
      align-self: flex-start;
    }

    &--middle {
//    Nothing to do
    }

    &--bottom {
      align-self: flex-end;
    }

    &--center {
//   Nothing to do
    }
  }
}

/**
 * INPUTS
 **/

.input {
  z-index: 10;
  border: 3px solid $color-node;
  background: darken($color-background, 70);
  color: $color-node-text;
  font-family: $main-font-family;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 10px;

  &--button {
    background: $color-node-text;
    color: $color-background;
    font-weight: bold;
    cursor: pointer;
  }


  &--search {

  }
}