$color-background: #000102;
$color-background-gradient: #082433;
$color-node: #AEC5DB;
$color-trail: white;
$color-node-inner: #000102;
$color-node-trail: $color-trail;
$color-node-text: #AEC5DB;
$color-node-text-trail: $color-trail;
$color-node-text-hover: #FFFFFF;
$color-link: #AEC5DB;
$color-link-trail: $color-trail;

body {
  background: $color-background;
//  padding: 20px;
//  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Marvel', sans-serif;
  height: 100%;
  width: 100%;

  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: radial-gradient(rgba($color-background-gradient, 0.5) 0%, rgba($color-background-gradient,0) 60%);

    //&__top {    background: linear-gradient(to bottom,  rgba($color-background-gradient, 0.5) 0%,rgba($color-background-gradient,0) 20%); }
    //&__right {  background: linear-gradient(to left,    rgba($color-background-gradient, 0.5) 0%,rgba($color-background-gradient,0) 20%); }
    //&__bottom { background: linear-gradient(to top,     rgba($color-background-gradient, 0.5) 0%,rgba($color-background-gradient,0) 20%); }
    //&__left {   background: linear-gradient(to right,   rgba($color-background-gradient, 0.5) 0%,rgba($color-background-gradient,0) 20%); }
  }

  .stats {
    margin: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 200px;
    background: rgba(255,255,255,0.2);
  }
}

svg {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 99%;
}
g {

  /*.anchorNode {
    text {
  //    fill: #555;
      font-size: 12px;
      fill: $color-node-text;

      &:hover {
        cursor: pointer;
      }
    }

    circle {
    }
  }*/

  &.entity {

    circle {

      cursor: pointer;

      &.node {
        fill: $color-node-inner;
        stroke: $color-node;
        stroke-width: 4px;
      }

      &.root {
        fill: $color-node;
        stroke: $color-node;
        stroke-width: 4px;
      }

      /*&.path {
        fill: $color-node-inner;
        stroke: $color-node-path;
        stroke-width: 4px;
      }*/
    }

    text {
//      font: 10px 'Roboto Condensed', sans-serif;
      font: 13px 'Marvel', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      pointer-events: none;
      transition: all ease 100ms;
      letter-spacing: 3px;

      /*&.id {
        text-anchor: middle;
        font-weight: 700;
        //    fill: $color-node-text;
        fill: white;
      }*/

      &.title {
        fill: $color-node-text;
        //    font: 12px 'Roboto Condensed', sans-serif;
      }

      &.shadow {
        fill: $color-background;
      }
    }

    /**
     * TRAILS: node, text
     */

    &.trail {

      circle, text {
        opacity: 0.1;
      }

      circle {
        fill: $color-node-inner;
        stroke: $color-node-trail;
        stroke-width: 4px;
        opacity: 0.1;
      }

      text {

        &.title {
          fill: $color-node-text-trail;
        }

        &.shadow {

        }
      }

      &:hover {
        circle, text {
          opacity: 0.8;
        }
      }
    }

    &:hover {

      circle {
        stroke: $color-node-text-hover;
        stroke-width: 8px;
      }

      text {
//        font-size: 12px;
//        z-index: 10000;

        &.title {
          fill: $color-node-text-hover;
        }
      }
    }

    &:active {
      circle {
        stroke-width: 4px;
      }
    }
  }

  path {
    &.link {
      stroke: rgba($color-link, 0.1);
      stroke-dashoffset: dotted;
//      stroke-width: 3px;
    }

    &.path {
      stroke: $color-link-trail;

      opacity: 0.1;
      stroke-width: 1px;
    }
  }


}