@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 400;
  src: local("Economica"), local("Economica-Regular"), url(fonts/Economica_400.woff) format("woff"); }
@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 700;
  src: local("Economica Bold"), local("Economica-Bold"), url(fonts/Economica_700.woff) format("woff"); }
body {
  background: #000102;
  font-family: "Economica", sans-serif;
  height: 100%;
  width: 100%;
  position: relative; }
  body .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: radial-gradient(rgba(33, 42, 51, 0.5) 0%, rgba(33, 42, 51, 0) 60%); }
  body .stats {
    margin: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2); }

svg {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 99%; }

g {
  /*.anchorNode {
    text {
  //    fill: #555;
      font-size: 12px;
      fill: $color-node-text;

      &:hover {
        cursor: pointer;
      }
    }

    circle {
    }
  }*/ }
  g.entity {
    /**
     * TRAILS: node, text
     */
    /**
     * PAGES: node, text
     */
    /**
    * SUBCATEGORIES: node, text
    */ }
    g.entity circle {
      cursor: pointer;
      /*&.path {
        fill: $color-node-inner;
        stroke: $color-node-path;
        stroke-width: 4px;
      }*/ }
      g.entity circle.node {
        fill: #000102;
        stroke: rgba(174, 197, 219, 0.2);
        stroke-width: 4px; }
      g.entity circle.root {
        fill: #AEC5DB;
        stroke: #AEC5DB;
        stroke-width: 4px; }
      g.entity circle.transparent {
        fill: transparent !important;
        stroke: transparent !important; }
    g.entity text {
      font: 13px "Economica", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      pointer-events: none;
      transition: all ease 100ms;
      letter-spacing: 3px;
      /*&.id {
        text-anchor: middle;
        font-weight: 700;
        //    fill: $color-node-text;
        fill: white;
      }*/ }
      g.entity text.title {
        fill: #AEC5DB; }
      g.entity text.shadow {
        fill: #000102; }
    g.entity:active circle {
      stroke-width: 4px; }
    g.entity.trail {
      /*circle, text {
        opacity: 0.2;
      }*/ }
      g.entity.trail circle.node {
        fill: #000102;
        stroke: white;
        stroke-width: 4px;
        opacity: 0.1; }
      g.entity.trail text {
        opacity: 0.6; }
        g.entity.trail text.title {
          fill: white; }
      g.entity.trail:hover circle, g.entity.trail:hover text {
        opacity: 0.8; }
    g.entity:hover circle {
      stroke: rgba(174, 197, 219, 0.6);
      stroke-width: 2px; }
    g.entity:hover text.title {
      fill: #FFFFFF; }
    g.entity.page circle.node {
      stroke: rgba(183, 10, 0, 0.2); }
    g.entity.page text.title {
      fill: #B70A00; }
    g.entity.subcat circle.node {
      stroke: rgba(174, 197, 219, 0.2); }
  g path.link {
    stroke: rgba(174, 197, 219, 0.1); }
  g path .hovered {
    stroke: rgba(174, 197, 219, 0.3); }
  g path.path {
    stroke: white;
    stroke-width: 3px;
    opacity: 0.1; }

/**
 * FLEX BOX
 **/
.flex {
  display: flex; }
  .flex--stretch {
    align-items: stretch;
    height: 100%; }
  .flex--center {
    align-items: center;
    justify-content: center;
    height: 100%; }
  .flex__item--width-1 {
    flex: 1; }
  .flex__item--width-2 {
    flex: 2; }
  .flex__item--width-3 {
    flex: 3; }
  .flex__item--width-4 {
    flex: 4; }
  .flex__item--width-5 {
    flex: 5; }
  .flex__item--top {
    align-self: flex-start; }
  .flex__item--bottom {
    align-self: flex-end; }

/**
 * INPUTS
 **/
.input {
  z-index: 10;
  border: 3px solid #AEC5DB;
  background: black;
  color: #AEC5DB;
  font-family: "Economica", sans-serif;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 10px; }
  .input--button {
    background: #AEC5DB;
    color: #000102;
    font-weight: bold;
    cursor: pointer; }

/**
 * HELPERS
 **/
.full-width {
  max-width: 100%;
  width: 100%; }
.full-height {
  max-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

.margin-off {
  margin: 0 !important; }

.hidden {
  display: none; }

.fixed--top {
  top: 0;
  left: 0;
  right: 0; }
.fixed--left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0; }

.list {
  list-style-type: none;
  margin: 0; }
  .list li a {
    display: block;
    padding: 6px 12px; }
  .list--vertical li {
    display: inline-block; }
  .list-horizontal li {
    display: block; }

.panel {
  background: #8B8E6A;
  color: #353629; }
  .panel a {
    color: #353629; }

/*# sourceMappingURL=style.css.map */
